Java/Complete-Java-Exercies/Exercises/books.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="books" type="booktype"/>
	
	<xsd:complexType name="booktype">
		<xsd:sequence>
			<xsd:element name="book" type="bookcontenttype" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="bookcontenttype">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="author" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="prize" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>