Java/Complete-Java-Exercies/Exercises/EmployeeDetailsSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element  name="CompanyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Company">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="EmployeeList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Employee" minOccurs="3">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="id" type="xs:positiveInteger" />
                          <xs:element name="age" type="xs:positiveInteger" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
                <xs:unique name="uniqueName">
                    <xs:selector xpath="Employee/name"/>
                    <xs:field xpath="name"/>
                </xs:unique>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="uniqueCompanyName">
        <xs:selector xpath="Company/name"/>
        <xs:field xpath="."/>
    </xs:unique>
  </xs:element>
</xs:schema>